{% extends "main/base.html" %}
{% load static %}


{% block title %}
My Finance
{% endblock %}


{% block content %}

<div class="col-sm-6 mx-auto flex-container">
    <hr class ="mt-0 mb-4">
        <div id="navbarbrand" align="center"><h2>My Expenses</h2></div>
    <hr class ="mt-0 mb-4">
    <section  class="flex-container">
        <div class = "center-block">
            <form method="post" action = "#" class = "form-group">
                {% csrf_token %}
                <div id="test" class= "input-group">
                    <div class="input-group-prepend mx-auto">
                        <button type="submit", name="save" class = "btn btn-success1 mb-3">Add Expense</button>
                            <table class="table table-striped">
                                <thead align="center">
                                    <tr>
                                        <th scope="col">Expense</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Month</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr>
                                        <td scope="row" align="center"><h4>{{form.name}}</h4></td>
                                        <td scope="row" align="center"><h4>{{form.amount}}</h4></td>
                                         <td scope="row" align="center"><h4>{{form.month}}</h4></td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </form>

        </div>
    </section>
</div>
<br>
<div class="col-sm-10 mx-auto flex-container">
    <section class = "row flex-container ">
        <div class="jumbotron mx-auto">
        <section class="  flex-containerr">
                <table class="table table-striped">
                    <thead align="center">
                        <tr>
                            <th scope="col">Expense</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Month</th>
                            <th scope="col">Exact Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in last_ten_expenses%}
                         <tr>
                            <td scope="row" align="center">{{item.name}}</td>
                            <td scope="row" align="center">{{item.amount}}</td>
                             <td scope="row" align="center">{{item.month}}</td>
                             <td scope="row" align="center">{{item.added_date}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        </section>
</div>
        <section class="col-sm-7  mx-auto" >
           <canvas id="myChartline" height="150px"></canvas>
                <script>
                    var endpoint = '/api';

                    $.ajax({
                      method: "GET",
                      url: endpoint,

                      success: function(data) {
                        drawLineGraph(data, 'myChartline');

                        console.log("drawing");
                      },
                      error: function(error_data) {
                        console.log(error_data);
                      }
                    })

                    function drawLineGraph(data, id) {
                      var labels = data.labels;
                      var chartdata = data.chartdata;
                      var ctx = document.getElementById(id).getContext('2d');
                      var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'line',

                        // The data for our dataset
                        data: {
                          labels: labels,
                          datasets: [{
                            label: 'Expense / Month',
                            backgroundColor: 'rgb(242,114,44)',
                            borderColor: 'rgb(86,73,142)',
                            data: chartdata,
                          }]
                        },

                        // Configuration options go here
                        options: {
                          scales: {
                            xAxes: [{
                              display: true
                            }],
                            yAxes: [{
                              ticks: {
                                beginAtZero: true
                              }
                            }]
                          }
                        }

                      });
                    }

                </script>
        </section>
    </section>

</div>

{%endblock%}