{% extends 'main/base.html' %}
{% load static %}
{%block title%}Create Account{% endblock%}

{% load crispy_forms_tags %}

{% block styles %}
    <style>
        body {
          background: url('{% static "img/111.jpg" %}') no-repeat center center fixed;
                }
    </style>
{% endblock %}


{%block content%}
<div class="col-sm-4 mx-auto">
    <form method="POST" class="form-group ">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>
{%endblock%}