{% extends 'main/base.html' %}
{% load static %}


{% block title %}
New List
{% endblock %}

{% block styles %}
    <style>
        body {
          background: url('{% static "img/111.jpg" %}') no-repeat center center fixed;
                }
    </style>
{% endblock %}

{% block content %}
<div class="col-sm-4 mx-auto">
<div align="center">
    <hr class ="mt-0 mb-4">
        <div id="navbarbrand"><h2>New List</h2></div>
    <hr class ="mt-0 mb-4">

    <form method="post" action = '/create/' class = "form-group">
        {% csrf_token %}
        <div id="test" class= "input-group mb-3">
            <div class="input-group-prepend">
            <button type="submit", name="save" class = "btn btn-success">Create New</button>
            </div>
            {{form.name}}
        </div>
    </form>
</div>
</div>

{% endblock %}


