{% extends 'main/base.html' %}
{% load static %}


{% block title %}
New List
{% endblock %}

{% block styles %}
    <style>
        body {
          background: url('{% static "img/111.jpg" %}') no-repeat center center fixed;
                }
    </style>
{% endblock %}

{% block content %}

<form method="post" action = '/create/' class = "form-group">
    {% csrf_token %}
    <div id="test" class= "input-group mb-3" style = {}>
        <style type="text/css">
        #test input {
                width :500px;
            }</style>
        <div class="input-group-prepend">
        <button type="submit", name="save" class = "btn btn-success">Create New</button>
        </div>
        {{form.name}}
    </div>
</form>
{% endblock %}


