{% extends 'main/base.html' %}
{% load static %}


{% block title %}
New List
{% endblock %}


{% block content %}
<div class="col-sm-6 mx-auto">

    <hr class ="mt-0 mb-4">
        <div id="navbarbrand" align="center"><h2>New List</h2></div>
    <hr class ="mt-0 mb-4">

    <form method="post" action = '/create/' class = "form-group">
        {% csrf_token %}
        <div id="test" class= "container input-group">
            <div class="container input-group-prepend mx-auto" >
            <button type="submit", name="save" class = "btn btn-success1">Create New</button>
            {{form.name}}
            </div>
        </div>
    </form>
<!--</div>-->
</div>

{% endblock %}


