{% extends "main/base.html" %}
{% load static %}


{% block title %}
My Lists
{% endblock %}



{%block content%}

<div class="col-sm-6 mx-auto">
    <hr class ="mt-0 mb-4">
        <div id="navbarbrand" align="center" ><h2>My Lists</h2></div>
    <hr class ="mt-0 mb-4">
</div>
<br>
<div class="col-sm-11 mx-auto">
    <section class = "row">
        <section class="col-sm-6">
            <div>
            <form method="post" action = '/view/' class = "form-group">
                    {% csrf_token %}
                    <div id="test" class= "container input-group">
                        <div class="container input-group-prepend" >
                        <button type="submit", name="save" class = "btn btn-success1">Create New</button>
                        {{form.name}}
                        </div>
                    </div>
            </form>
                </div>
        </section>
        <section class="col-sm-6 ">
            <div class ="jumbotron">
            <table class="table table-striped">
                <thead align="center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Your Lists</th>
                    </tr>
                </thead>
                <tbody>
                    {% for td in user.todolist.all %}
                    <tr>
                        <td scope="row" align="center"><h4 style="color:black" >{{ forloop.counter }}</h4></td>
                        <td scope="row" align="center"><a href="/{{td.id}}"><h4 style="color:black">{{td.name}}</h4></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                </div>
        </section>
    </section>
</div>
{%endblock%}