#test input {
                width :60%;
            }

#textinput input {
                width :300px;
                height: 50px;
                 }
#checkbox input {
                width :20px;
                height: 20px;

                 }
#addinput input {
                width :255px;
                height: 40px;
                }
#navbarbrand h2 {
                font-family: Comic Sans MS, cursive, sans-serif;
}

#navbarbrand h3 {
                font-family: Comic Sans MS, cursive, sans-serif;
}

.main {
    margin-left:160px;
    padding: 0px 10 px;
}

.navbar{
    background-color: black;
}
flex-container {
    display: flex;             /* primary flex container */
    flex-direction: row;       /* horizontal alignment of flex items
                                      (default value; can be omitted) */
    align-items: stretch;      /* will apply equal heights to flex items
                                      (default value; can be omitted) */
    height: 100%;
}

flex-item {
            /* nested flex container */
    flex-direction: column;    /* vertical alignment of flex items */
    justify-content: center;   /* center flex items vertically */
    align-items: center;       /* center flex items horizontally */
}

