#test input {
                width :100%;
            }

#textinput input {
                display:flex;
                width : 200%;
                height: 50px;
                 }
#checkbox input {
                width :20px;
                height: 20px;

                 }
#addinput input {
                width :255px;
                height: 40px;
                }
#navbarbrand h2 {
                font-family: Comic Sans MS, cursive, sans-serif;

}

#navbarbrand h3 {
                font-family: Comic Sans MS, cursive, sans-serif;
}

#navbarbrand a {
                font-family: Comic Sans MS, cursive, sans-serif;
                font-size: medium;
                color:#f2722c;
}

#welcoming h3 {
                font-family: Comic Sans MS, cursive, sans-serif;
}

.main {
    margin-left:160px;
    padding: 0px 10 px;
}

.navbar-light{
    background-color: #56498E;

}

.navbar-light h3,a{
    color:white;
}

.flex-container {
    display: flex;             /* primary flex container */
    flex-direction: row;       /* horizontal alignment of flex items
                                      (default value; can be omitted) */
    align-items: center;      /* will apply equal heights to flex items
                                   (default value; can be omitted) */
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;

}

flex-item {
            /* nested flex container */
     /* vertical alignment of flex items */
     /* center flex items vertically */
    align-items: stretch;       /* center flex items horizontally */
}

.row {
    display:flex;

}

#col1 section {
    -webkit-column-width: 50%;
    -moz--column-width: 50%;
    column-width: 50%;
  }

#col2 section {
    -webkit-column-width: 50%;
    -moz--column-width: 50%;
    column-width: 50%;

}


.container{
    align-items: stretch;

}

.input-group-text {
    background-color:#56498E;

}

.table-striped thead th{
    background:#56498E;
    color:white;
}

.btn-success1{
    background:#f2722c;
    color:white;
}

.btn-success2{
    background: #56498E;
    color:white;
}

#space container{

    justify-content: space-between:

}

.flex-container2 {
    display: flex;             /* primary flex container */
    flex-direction: row;       /* horizontal alignment of flex items
                                      (default value; can be omitted) */
    align-items: stretch;      /* will apply equal heights to flex items
                                   (default value; can be omitted) */
    height: 100%;
    justify-content: space-around;
}

#navbarlinks h5, h4{
    color:#f2722c;

}

#rf li {
    display:inline;
    padding: 5px 30px;
}

.card-img-top{
   width: 100%!important;
   height: 300px!important;
   object-fit: cover;
}

.page-footer {
    background: #56498E;

}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background: #56498E;/* Footer height */
  background: #56498E;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
